<ion-view view-title="Activites" cache-view="false">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..."  on-refresh="RefreshView()">  </ion-refresher>
    <div class="list alternate-color-child"> <a class="item item-avatar small-span item-icon-left item-icon-right brown-i" href="#/app/view-activities/{{tkey}}" ng-repeat="(tkey,tvalue) in acts"> 
    
      <i class="icon ion-android-calendar"></i>
      <h2>{{tvalue.act.Name}}</h2>
      <span>{{tvalue.act.city}} - </span>    
      <span ng-if="tvalue.count"> {{tvalue.count}} member <br/></span>
      <span ng-if="!tvalue.count"> 0 member <br/></span> 
      
      <span ng-if="tvalue.RequestCounter" class="badge badge-assertive">{{tvalue.RequestCounter}}<br/></span>
      <i class="icon ion-chevron-right"></i> 
      
      </a> </div>
      
  </ion-content>
  
</ion-view>
