<ion-view view-title="Activites" cache-view="false">
  <ion-content>
    <!-- <div class="item item-button-right" ng-show="show"> Create New Activity
      <a class="button button-dark" href="#/app/create-activities"> <span ng-show="wait">Please wait ...</span><i class="icon ion-plus" ng-click="showLoading()"></i> </a>
    </div>  -->
    <div class="card list"> <a class="item item-avatar small-span item-icon-left item-icon-right brown-i" ng-click="Redirect(tkey)" href="#/app/view-activities/{{tkey}}" ng-repeat="(tkey,tvalue) in acts"> 
    <!--<img ng-if="tvalue.picture.indexOf('http') !== -1" src="{{tvalue.picture}}"> <img ng-if="tvalue.picture.indexOf('http') === -1" src="data:image/jpeg;base64,{{tvalue.picture}}"> -->
      <i class="icon ion-android-calendar"></i>
      <h2>{{tvalue.act.Name}}</h2>
      <span>{{tvalue.act.city}} - </span>    
      <span ng-if="tvalue.count"> {{tvalue.count}} member <br/></span>
      <span ng-if="!tvalue.count"> 0 member <br/></span> 
      
      <span ng-if="tvalue.RequestCounter" class="badge badge-assertive">{{tvalue.RequestCounter}}<br/></span>
      <i class="icon ion-chevron-right"></i> 
      
      </a> </div>
      
  </ion-content>
  <div class="bar bar-footer bar-dark">  	
    
    <div class="title"></div>
    <button class="button button-clear" ng-click="RefreshView()">Refresh</button>
    <!--<button class="button button-clear" ng-show="show" ng-click="showLoading()">Create Activity</button>-->
  </div>
</ion-view>
