<ion-view view-title="Discover">
  <ion-content>

  <div class="list">
     <a class="item item-avatar small-span" href="#/app/search/{{tkey}}" ng-repeat="(tkey,tvalue) in ilist" ng-if="tkey!=cuid" >
      <img  ng-if="tvalue.profile.picture.indexOf('http') !== -1" src="{{tvalue.profile.picture}}">
      <img  ng-if="tvalue.profile.picture.indexOf('http') === -1" src="data:image/jpeg;base64,{{tvalue.profile.picture}}">
      <h2>{{tvalue.profile.name}}</h2>
      <span>Age: {{tvalue.profile.age}} </span><br/>
      <span>Interests: </span><span ng-repeat="(key,value) in tvalue.Interests" ng-if="value">{{key}}   </span>
      
      </a> 
      </div>
 


     
    
  </ion-content>
</ion-view>
