<ion-view view-title="Search Activity">
  <ion-content>
    <div class="list">
      <div class="item center-outer">
        <div class="fix-div-inside"><img ng-if="profile.profile.picture.indexOf('http') !== -1" src="{{profile.profile.picture}}" /> <img ng-if="profile.profile.picture.indexOf('http') === -1" src="data:image/jpeg;base64,{{profile.profile.picture}}" />
          <div class="center-inside welcome-profile-top">
            <h2>{{profile.profile.name}}</h2>
            <p>{{profile.profile.age}} years old</p>
            <div class="button button-balanced green-button-style" ng-click="createActivity()">search</div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <ion-slide-box class="full-page-hobbies activity-box" show-pager="false" >
      <ion-slide>
        <div class="over-box">
          
          <div class="small-center-inside">
            <div class="row datetime">
              <div class="col">
                <ionic-datepicker input-obj="datepickerObject">
                  <button><i class="icon ion-android-calendar"></i><br><span>DATE</span></button>
                </ionic-datepicker>
                <input type="text" placeholder="{{dobValue | date:'yyyy/MM/dd'}}" minlength="3" maxlength="15" style="color:gray" value="">
              </div>              
            </div>
            <div class="styled-select black rounded">
              <select ng-model="cActivityList.repeatSelect" ng-change="selectedEduChanged()">
                <option value="" disabled selected>Activity Type?</option>
                <option ng-repeat="(key,value) in cActivityList.availableOptions.Hobbies1" value="{{key}}">{{key}}</option>
                <option ng-repeat="(key,value) in cActivityList.availableOptions.Hobbies2" value="{{key}}">{{key}}</option>
                <option ng-repeat="(key,value) in cActivityList.availableOptions.Hobbies3" value="{{key}}">{{key}}</option>
                <option ng-repeat="(key,value) in cActivityList.availableOptions.Hobbies4" value="{{key}}">{{key}}</option>
                <option ng-repeat="(key,value) in cActivityList.availableOptions.Hobbies5" value="{{key}}">{{key}}</option>
              </select>
            </div>
            <div class="styled-select green rounded">
              <select name="language"  ng-model="languages.repeatSelect" ng-change="selectedEduChanged()">
                <option value="" disabled selected>language?</option>
                <option ng-repeat="(k,v) in languages.availableOptions" value="{{k}}">{{k}}</option>
              </select>
            </div>
            <div class="styled-select blue rounded">
              <select name="ageFrom"  ng-model="gnationality.repeatSelect" ng-change="selectedEduChanged()">
                <option value="" disabled selected>country?</option>
                <option ng-repeat="(key,value) in gnationality.availableOptions" value="{{value.name}}">{{value.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
