
<ion-modal-view id="join-activity.html">
  <ion-header-bar>
    <h1 class="title">Join Activity As</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-pane>
    <ion-tabs class="tabs-icon-top tabs-color-light">
      <ion-tab title="Carpool" icon-on="ion-android-car" icon-off="ion-android-car"> 
        <!-- Tab 1 content -->
        <ion-view>
          <ion-content >
            <div class="list brown-i">
            	<div class="item center-outer">
                <div class="fix-div-inside"><img id="logo-pic" ng-if="res.picture.indexOf('http') !== -1" src="{{res.picture}}" /> <img  id="logo-pic" ng-if="res.picture.indexOf('http') === -1" src="data:image/jpeg;base64,{{res.picture}}" />
                  <div class="center-inside welcome-profile-top">
                    <h2 style="text-transform:uppercase">JOIN AS DRIVER</h2>
                	<p>please set details</p>
                    <div class="button button-balanced green-button-style" style="background:#0F6A93" ng-click="sendRequestAs('driver')"> send </div>
                  </div>
                  
                </div>
              </div>
              
              
              <ion-checkbox class="item" ng-model="JoinDateCheck.value1"><span class="input-label" style="text-transform:uppercase; font-size:11px; font-weight:bold">Will You be available on <br/>
                {{res.act.date | date:'yyyy/MM/dd'}} | {{res.act.time}} (24hr)</span> </ion-checkbox>
                
                
                
              <div class="alternate-labels">
                
              <label class="item item-input item-icon-right"> <span class="input-label" style="text-transform:uppercase; font-size:11px; font-weight:bold">Choose Location</span>
                <button class="b-upload co-button" style="float:right" ng-click="OpenMapModal()"><span>{{marker.lat | number:2}}  {{marker.long | number:2}}</span><i style="cursor:pointer"  class="icon ion-location"></i></button>
              </label>
              <label class="item item-input item-select"> <span class="input-label" style="text-transform:uppercase; font-size:11px; font-weight:bold">Car Type</span>
                <select name="CarType"  ng-model="CarTypeList.repeatSelect">
                  <option ng-repeat="(k,v) in CarTypeList.availableOptions" value="{{k}}">{{k}}</option>
                </select>
              </label>
              <label class="item item-input item-select"> <span class="input-label" style="text-transform:uppercase; font-size:11px; font-weight:bold">Car Capacity</span>
                <select name="CarCapacity" ng-model="CarCapacity.value">
                  <option ng-repeat="n in [] | range:10" value="{{$index+1}}">{{$index+1}}</option>
                </select>
              </label>
              <label class="item item-input item-select"> <span class="input-label" style="text-transform:uppercase; font-size:11px; font-weight:bold">Available Hours</span>
                <select name="AvailableHours" ng-model="AvailableHours.value">
                  <option ng-repeat="n in [] | range:24" value="{{$index+1}}">{{$index+1}}</option>
                </select>
              </label>
              <label class="item item-input item-select"> <span class="input-label" style="text-transform:uppercase; font-size:11px; font-weight:bold">Charges per Person</span>
                <input type="number" min="1" ng-model="PerPersonCharges.value" placeholder="charges" style="color:gray" value="">
              </label>
              </div>
            </div>
          </ion-content>
        </ion-view>
      </ion-tab>
      <ion-tab title="Passenger" icon-on="ion-android-walk" icon-off="ion-android-walk"> 
        <!-- Tab 2 content -->
        <ion-view>
          <ion-content>
            <div class="list brown-i">
            
            <div class="item center-outer">
                <div class="fix-div-inside"><img id="logo-pic" ng-if="res.picture.indexOf('http') !== -1" src="{{res.picture}}" /> <img  id="logo-pic" ng-if="res.picture.indexOf('http') === -1" src="data:image/jpeg;base64,{{res.picture}}" />
                  <div class="center-inside welcome-profile-top">
                    <h2 style="text-transform:uppercase">JOIN AS PASSENGER</h2>
                	<h4>please set details</h4>
                    <div class="button button-balanced green-button-style" style="background:#0F6A93" ng-click="sendRequestAs('passenger')"> send </div>
                  </div>
                  
                </div>
              </div>
            
            
            
            
              
              <ion-checkbox class="item" ng-model="JoinDateCheck.value1"><span class="input-label" style="text-transform:uppercase; font-size:11px; font-weight:bold">Will You be available on <br/>
                {{res.act.date | date:'yyyy/MM/dd'}} | {{res.act.time}} (24hr)</span> </ion-checkbox>
                
              <ion-checkbox class="item" ng-model="JoinDateCheck.value2"><span class="input-label" style="text-transform:uppercase; font-size:11px; font-weight:bold">Agree to Coordinate with Driver of this activity? <br/>
                on {{res.act.date | date:'yyyy/MM/dd'}} | {{res.act.time}} (24hr)</span> </ion-checkbox>
                
             <div class="alternate-labels">   
                
              <label class="item item-input item-icon-right"> <span class="input-label" style="text-transform:uppercase; font-size:11px; font-weight:bold">Choose Location</span>
                <button class="b-upload co-button" style="float:right" ng-click="OpenMapModal()"><span>{{marker.lat | number:2}}  {{marker.long | number:2}}</span><i style="cursor:pointer"  class="icon ion-location"></i></button>
              </label>
              <label class="item item-input item-select"> <span class="input-label" style="text-transform:uppercase; font-size:11px; font-weight:bold">Available Hours</span>
                <select name="AvailableHours" ng-model="AvailableHours.value">
                  <option ng-repeat="n in [] | range:24" value="{{$index+1}}">{{$index+1}}</option>
                </select>
              </label>
              </div>
            </div>
          </ion-content>
        </ion-view>
      </ion-tab>
      <ion-tab title="Accomodation" icon-on="ion-home" icon-off="ion-home"> 
        <!-- Tab 3 content -->
        <ion-view>
          <ion-content overflow-scroll="true">
            <div class="list brown-i">
            
            
              <div class="item center-outer">
                <div class="fix-div-inside"><img id="logo-pic" ng-if="res.picture.indexOf('http') !== -1" src="{{res.picture}}" /> <img  id="logo-pic" ng-if="res.picture.indexOf('http') === -1" src="data:image/jpeg;base64,{{res.picture}}" />
                  <div class="center-inside welcome-profile-top">
                    <h2 style="text-transform:uppercase">JOIN AS ACCOMODATOR</h2>
                	<h4>please set details</h4>
                    <div class="button button-balanced green-button-style" style="background:#0F6A93" ng-click="sendRequestAs('host')"> send </div>
                  </div>
                  
                </div>
              </div>	
            
            
            
            
            
            
              
              <ion-checkbox class="item" ng-model="JoinDateCheck.value1"><span class="input-label" style="text-transform:uppercase; font-size:11px; font-weight:bold">Will Your place be available on <br/>
                {{res.act.date | date:'yyyy/MM/dd'}} | {{res.act.time}} (24hr)</span> </ion-checkbox>
              
              <div class="alternate-labels">
              
              <label class="item item-input item-icon-right"> <span class="input-label" style="text-transform:uppercase; font-size:11px; font-weight:bold">Choose Location</span>
                <button class="b-upload co-button" style="float:right" ng-click="OpenMapModal()"><span>{{marker.lat | number:2}}  {{marker.long | number:2}}</span><i style="cursor:pointer"  class="icon ion-location"></i></button>
              </label>
              <label class="item item-input item-select"> <span class="input-label" style="text-transform:uppercase; font-size:11px; font-weight:bold">Home Type</span>
                <select name="HomeTypes"  ng-model="AccTypeList.repeatSelect">
                  <option ng-repeat="(k,v) in AccTypeList.availableOptions" value="{{k}}">{{k}}</option>
                </select>
              </label>
              <label class="item item-input item-select"> <span class="input-label" style="text-transform:uppercase; font-size:11px; font-weight:bold">Home Capacity</span>
                <select name="HomeCapacity" ng-model="HomeCapacity.value">
                  <option ng-repeat="n in [] | range:20" value="{{$index+1}}">{{$index+1}}</option>
                </select>
              </label>
              <label class="item item-input item-select"> <span class="input-label" style="text-transform:uppercase; font-size:11px; font-weight:bold">Available Hours</span>
                <select name="AvailableHours" ng-model="AvailableHours.value">
                  <option ng-repeat="n in [] | range:24" value="{{$index+1}}">{{$index+1}}</option>
                </select>
              </label>
              <label class="item item-input item-select"> <span class="input-label" style="text-transform:uppercase; font-size:11px; font-weight:bold">Charges per Person</span>
                <input type="number" min="1" ng-model="PerPersonCharges.value" placeholder="charges" style="color:gray" value="">
              </label>
              
              </div>
              
              
            </div>
          </ion-content>
        </ion-view>
      </ion-tab>
    </ion-tabs>
  </ion-pane>
</ion-modal-view>
