<ion-view hide-nav-bar="true" cache-view="false" hide-back-button="true" view-title="Login" class="login-page">
<div class="bar bar-header">

  <button class="button button-icon icon ion-chevron-left" ng-click="returnToLogin()"></button>
  <div class="h1 title">Login</div>
  
</div>
<ion-content>
<div id="wrapper">
<div style="height:100px"></div>
  <form id="login-form" ng-submit="doLogin()">
    <input type="text" ng-model="loginData.username" placeholder="Email" required>
    <input type="password" ng-model="loginData.password" placeholder="password" required>
    <button class="submit-button button button-block" type="submit">{{Signin}}</button>
  </form>
  <div class="NetworkNotes">{{NetworkMsg}}</div>
  
  </ul>
  <ul class="bottom-links">
    <!-- <li><a href="#/new-login" >New user</a></li> -->
    <li><a href="#/delete-login/reset" >forget password ?</a></li>    
  </ul>
  </div>
 </ion-content>
</ion-view>
