<ion-view view-title="Browse" class="main-background">
  <ion-content scroll="false">
<div id="wrapper">

  
  
  <ul id="main-menu">
  	<li id="facebook"><button href="#" ng-click="sociallogin('facebook')"><i class="fa fa-facebook"></i>   continue with facebook</button></li>
    <li id="sig"><a class="button button-balanced" href="#/login">Log In</a></li>    
    <li id="sig"><a class="button button-balanced" href="#/new-login">Sign Up</a></li>    
  </ul>
  
  </div>
 </ion-content>
</ion-view>
