
<ion-view>
<ion-content>
  <div class="item center-outer">
     <div class="center-inside">
   		<img class="bottomlistAct" style="cursor:pointer" ng-click="hobValue(key, 0, value)" ng-repeat="(key, value) in ilist.profile.hobbies" ng-if="key != 'i'" src="{{value}}">            
     </div>
  </div>
   
    <ion-slide-box class="full-page-hobbies" >  
      <ion-slide ng-repeat="(key,value) in listAct">
      
        <div class="over-box">
              <div class="item item-divider"><span></span><h4>Hobbies {{$index+1}} of 6</h4></div>              
               <div class="small-center-inside">
               <a class="four-col-a" ng-repeat="(key, value) in value" ng-if="key != 'i'" ng-click="hobValue(key, 1, value)" ><img class="round-border-gray" src="{{value}}"  /><br> <span>  {{key}}  </span></a>                
               </div>               
            </div>
      
      </ion-slide>
    </ion-slide-box> 
</ion-content> 
</ion-view>

