<ion-view view-title="Information   {{loading}}" cache-view="false" class="Profile-page  public">

  <ion-tabs class="tabs-icon-only">
    <ion-tab icon="icon ion-grid">
      <!-- Tab 1 content -->
      
      <ion-view>
        <ion-content overflow-scroll="true">
          <div class="list card brown-i">
            <div class="item item-avatar"> <img id="logo-pic" ng-if="ilist.profile.picture.indexOf('http') !== -1" src="{{ilist.profile.picture}}" /> <img  id="logo-pic" ng-if="ilist.profile.picture.indexOf('http') === -1" src="data:image/jpeg;base64,{{ilist.profile.picture}}" />
              <h2>{{ilist.profile.name}}</h2>
              <p>{{ilist.profile.age}}, {{ilist.profile.gender}}</p>
              <p>approx {{myDistance}} km away</p>
            </div>
            <div class="item item-image"> 
              
              <!--<img class="cover-photo" ng-click="changeLogo('cover')" ng-if="ilist.profile.cover.indexOf('http') !== -1" src="{{ilist.profile.cover}}" /> <img class="cover-photo" ng-click="changeLogo('cover')" ng-if="ilist.profile.cover.indexOf('http') === -1" src="data:image/jpeg;base64,{{ilist.profile.cover}}" /> -->
              <ng-map zoom="15" id="MyLocation" center="[{{coords.lat}}, {{coords.long}}]" on-center-changed="centerChanged()">
                <marker position="[{{coords.lat}}, {{coords.long}}]" title="Location"></marker>
              </ng-map>
            </div>
            <a class="item item-icon-left" href="#/app/{{chlink}}"><i class="icon {{chicon}}"></i>{{cBlock}} </a> </div>
        </ion-content>
      </ion-view>
      </ion-tab>
      <ion-tab title="Activities" icon="icon ion-person"> 
        <!-- Tab 2 content -->
        <ion-view>
          <ion-content overflow-scroll="true"> 
            <!-- <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="refreshItems()"></ion-refresher> -->
            <ul class="card list brown-i">
              <div class="item item-avatar"> <img id="logo-pic" ng-if="ilist.profile.picture.indexOf('http') !== -1" src="{{ilist.profile.picture}}" /> <img  id="logo-pic" ng-if="ilist.profile.picture.indexOf('http') === -1" src="data:image/jpeg;base64,{{ilist.profile.picture}}" />
                <h2>{{ilist.profile.name}}</h2>
                <p>{{ilist.profile.age}}, {{ilist.profile.gender}}</p>
              </div>
              <!--<a class="item item-icon-left" ng-click="letsHang()"><i class="icon {{hicon}}"></i> {{htext}} </a> -->
              <div class="item item-divider">Personal</div>
              <label class="item item-input item-icon-right" for="{{ilist}}-{{ilist.profile.name}}"> <span class="input-label" style="text-transform:uppercase; font-size:11px; font-weight:bold">Name</span>
                <input type="text" id="{{ilist}}-{{ilist.profile.name}}" placeholder="change name" ng-model="ilist.profile['name']" disabled>
                <i class="icon ion-person"></i> </label>
              <label class="item item-input item-icon-right" for="{{ilist}}-work"> <span class="input-label" style="text-transform:uppercase; font-size:11px; font-weight:bold">My Work</span>
                <input type="text" id="{{ilist}}-work" placeholder="about your self" ng-model="ilist.profile['work']" disabled>
                <i class="icon ion-card"></i> </label>
              <label class="item item-input" for="{{ilist}}-{{ilist.profile.about}}"> <span class="input-label" style="text-transform:uppercase; font-size:11px; font-weight:bold">About Myself</span>
                <input type="text" id="{{ilist}}-{{ilist.profile.about}}" placeholder="about your self" ng-model="ilist.profile['about']" disabled>
              </label>
              <label class="item item-input item-icon-right" for="{{ilist}}-{{ilist.profile.education}}"> <span class="input-label" style="text-transform:uppercase; font-size:11px; font-weight:bold">education</span>
                <input type="text" id="{{ilist}}-{{ilist.profile.education}}" placeholder="your education" ng-model="ilist.profile['education']" readonly>
                <i class="icon ion-university"></i> </label>
              <label class="item item-input item-icon-right" for="{{ilist}}-nationality"> <span class="input-label" style="text-transform:uppercase; font-size:11px; font-weight:bold">nationality</span>
                <input type="text" id="{{ilist}}-nationality" placeholder="your nationality" ng-model="ilist.profile['nationality']" readonly>
                <i class="icon ion-ios-flag"></i> </label>
              <label class="item item-input item-icon-right" for="{{ilist}}-{{ilist.profile.status}}"> <span class="input-label" style="text-transform:uppercase; font-size:11px; font-weight:bold">Status</span>
                <input type="text" id="{{ilist}}-{{ilist.profile.status}}" placeholder="your status" ng-model="ilist.profile['status']" readonly>
                <i class="icon ion-ios-heart"></i> </label>
              
            </ul>
          </ion-content>
        </ion-view>
      </ion-tab>
      <ion-tab icon="icon ion-coffee"> 
        <!-- Tab 3 content -->
        
        <ion-view>
          <ion-content overflow-scroll="true">
            <ul class="card list brown-i">
              <div class="item item-avatar"> <img id="logo-pic" ng-if="ilist.profile.picture.indexOf('http') !== -1" src="{{ilist.profile.picture}}" /> <img  id="logo-pic" ng-if="ilist.profile.picture.indexOf('http') === -1" src="data:image/jpeg;base64,{{ilist.profile.picture}}" />
                <h2>{{ilist.profile.name}}</h2>
                <p>{{ilist.profile.age}}, {{ilist.profile.gender}}</p>
              </div>
              <a class="item item-icon-left item-icon-right" href="#/app/activities/{{id}}"><i class="icon ion-android-calendar"></i> My Activities <i class="icon ion-chevron-right"></i></a> 
              <div class="item item-divider">My Hobbies</div>
              <div class="item  item-avatar item-icon-right" ng-repeat="(key, value) in ilist.profile.hobbies" ng-if="key != 'i'"> <img src="{{value}}"  /> {{key}} </div>
            </ul>
          </ion-content>
        </ion-view>
      </ion-tab>
      <ion-tab icon="icon ion-camera"> 
        <!-- Tab 4 content -->
        <ion-view>
          <ion-content overflow-scroll="true"> 
            <!-- <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="refreshItems()"> </ion-refresher> -->
            
            <div class="card list">
              <div class="item item-avatar"> <img ng-if="ilist.profile.picture.indexOf('http') !== -1" src="{{ilist.profile.picture}}" /> <img  ng-if="ilist.profile.picture.indexOf('http') === -1" src="data:image/jpeg;base64,{{ilist.profile.picture}}" />
                <h2>{{ilist.profile.name}}</h2>
                <p>{{ilist.profile.age}}, {{ilist.profile.gender}}</p>
              </div>
              <div class="item item-divider">Pictures</div>
              <li class="item item-thumbnail-left" ng-repeat="(key,value) in ilist.images"> <img ng-src="data:image/jpeg;base64,{{value.image}}">
                <h2>Picture</h2>
                <p>#{{$index+1}} </p>
                <!--<span ng-if="value.count">{{value.count}}</span> <span ng-if="!value.count" >0 </span> <i class="icon ion-heart"></i>-->
                <!--<div class='clearfix'></div>
                <ion-checkbox ng-model="isChecked" ng-click="likePic(key, isChecked)" style="background:rbga(0,0,0,0.3);height:45px; padding: 3px 10px;"> <span class="brown-i" ng-if="isChecked">Liked - <i class="icon ion-heart"></i></span> <span class="brown-i" ng-if="!isChecked"> Like </span></ion-checkbox>-->
              </li>
            </div>
          </ion-content>
        </ion-view>
      </ion-tab>
  </ion-tabs>
</ion-view>
