<ion-view view-title="Settings">
<div class="dob-wrapper"  ng-show="!hasdob">
  <ionic-datepicker input-obj="datepickerObject">
    <button class="button button-block"> {{dobValue | date:'yyyy/MM/dd'}}</button>
  </ionic-datepicker>
  <span></span> </div>
<ion-view ng-show="hasdob" class="settings-view">
  <ion-content>
    
    <div class="over-box">
    <div class="item item-divider"><span></span>
              <h4>settings</h4>
            </div>
            <div>
            <div class="item range">
              <i class="icon ion-android-search"></i>
              <input ng-model="ilist2.distance" min="10" max="100" value="ilist2.distance" type="range" name="volume">
              <i class="icon ion-search"></i>
            </div>
            <div class="item range">
              <i class="icon ion-man"></i>
              <input ng-model="ilist2.maleage" min="18" max="100" value="ilist2.distance" type="range" name="volume">
              <i class="icon ion-woman"></i>
            </div>
            	
            </div>
            <div class="row range-numbers">
              <div class="col"><a  class="item item-icon-right"><span>{{ilist2.distance}}</span><br>Search (km)</a></div>
              <div class="col"><a  class="item item-icon-right"><span>{{ilist2.maleage}}</span><br>Age (year)</a></div>              
            </div>
            <div class="row setting1">
              <div class="col"><a  class="item item-icon-right" ng-click="resetPassword()"><i class="fa fa-key"></i><br>Password</a></div>
              <div class="col"><a  class="item item-icon-right" ng-click="DeleteProfile()"> <i class="fa fa-ban"></i><br> Delete </a></div>              
            </div>
            <div class="row setting2">
              <div class="col"><a  class="item item-icon-right" ng-click="toggleGender()"><i ng-if="ilist2.male" class="fa fa-male"></i><i ng-if="!ilist2.male" class="fa fa-female"></i><br> show </a></div>
              <div class="col"><a  class="item item-icon-right" ng-click="logout()"> <i class="fa fa-sign-out"></i><br> Logout </a></div>              
            </div>
            
          </div>
   
  </ion-content>
</ion-view>
